{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block page %}User Login{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px; margin-top: 50px;">
  <h4 class="center-align">Log In</h4>
  
  <form method="POST" action="/login">
    <div class="input-field">
      <input type="text" name="username" id="username" required>
      <label for="username">Username</label>
    </div>

    <div class="input-field">
      <input type="password" name="password" id="password" required>
      <label for="password">Password</label>
    </div>

    <div class="center-align">
      <button type="submit" class="btn waves-effect waves-light">Login</button>
    </div>
  </form>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="card-panel red lighten-4">
        {% for message in messages %}
          <p class="red-text">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>
{% endblock %}
